*,
*::before,
*::after{
  box-sizing: border-box;
}
/*Custom Properties*/
:root{
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;


}

@media (min-width: 800px) {
  :root{
    --fs-h1: 4rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
}

}
/* General Styles */
/*html{
  scroll-behavior: smooth;
}*/

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(-fs-body);
  line-height: 1.6;
}

section{
  padding: 5em 2em;
}

img{
  display: block;
  width: 100%;
}

strong{font-weight: var(--fw-bold)}

h1,
h2,
h3{

  line-height: 1.0;
  margin: 0;
}

h1 {
  font-size:  var(--fs-h1);
}
h2 {
  font-size:  var(--fs-h2);
}
h3 {
  font-size:  var(--fs-h3);
}

.section__title{
  margin-bottom: .25em;
}

.section__title--intro{
  font-weight: var(--fw-reg);
  
}

.section__title--intro strong{
  display: block;
}


.section__subtitle{

  margin: 0;
  font-size: var(--fs-h3);

}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* header */
header {
    display:flex;
    justify-content: space-between;
    padding: 1em;
    
    
}
.logo__img {
  width: 10%;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
    
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color:inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .6em;
    background: transparent;
    border: 0px;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.nav-open .nav{
  transform:translateX(0);
}
.nav-open .nav-toggle{
  position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
  opacity: 0;
}

.hamburger {
    display:block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transfrorm 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}
/* Intro Section */

.intro{
  position: relative;
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 40px;
}

@media (min-width 600px){
  .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
  
  grid-template-areas: 
    "img title"
    "img subtitle";
  grid-template-columns: min-content max-content;
  
  }
  .intro__img {
      grid-area: img;
      min-width: 250px;
  }
  
}

.intro__img{
  grid-area: img;
  min-width: 250px;
  max-width: 30%;
  max-height: 30%;
  display: block;
  margin: auto;
}
.section__subtitle--intro{
    background-position: center;
}


/* Projects */
.section__title--project{
    margin-bottom: 50px;
}
.projects{
    font-size : var(--fs-h3);
}
.project__img {
    min-width: 60%;
    height: auto;
    width: auto;
    margin-right: 50px;

}

.project__item__div {
    display:flex;
    width:inherit;
    padding-bottom: 2em;
 
}

.project__p {
  margin:auto;
}

/*Footer*/

.div__footer, .social-list {
  display: flex;
  justify-content: space-evenly;
}

.footer__img {
    width: 48px;
    margin:auto;
    margin:1em 0.75em 1em 1em;
  
    
}
.a__footer {
  border-radius: 50%;
}
.a__footer:hover {
  box-shadow: -7px -7px 7px 3px #25292b;
}